{% load static %}
<div class="footer_bar">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="footer_bar_content d-flex flex-md-row flex-column align-items-center justify-content-start">
          <div class="copyright order-md-1 order-2">
            This template was created with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://www.linkedin.com/in/maksym-abrahamovych-006391239/" target="_blank">Maks</a>
          </div>
          <nav class="footer_nav ml-md-auto order-md-2 order-1">
            <ul class="d-flex flex-row align-items-center justify-content-start">
              {% for cat in categories %}
              <li>
                <a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a>
              </li>
              {% endfor %}
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>